<!DOCTYPE html>
<html>
<head>
<title>就是你</title>
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
<link rel='stylesheet' href='/stylesheets/css/style.css'/>
</head>

<body>


<div class="backgroundUrl">
  <%- include template/nav %>

  <div class="container-fluid">

    <div class="container-fluid">
      <div class="row">
        <h1 class="messageWord m-3 col-3 text-white"><%= title %></h1>

        <div class="col">
          <!-- 輸入 -->
          <form action="#" class="m-3">
            <div class="row form-group form-inline">
              <textarea class="message form-control col-7" name="message" placeholder="安安你好"></textarea>
              <input type="submit" class=" form-control col-1 ml-3 align-self-end send" id="send" value="送出">
            </div>
          </form>

          <!-- 已記錄的message -->
          <div class="row">
            <div class=" list col-7 ml-2 mb-5">
              <% for (item in message) { %>
                <div data-id = <%= message[item]._id%> class=" bg-white p-3 border-bottom eachMessage">
                  <div class="textBox">
                    <!-- 修改 -->
                    <input type="text" value="<%= message[item].text %>" class="col-8 updateText">
                    <!-- 每一個發過的message -->
                    <div class="messaged">
                    <%= message[item].text %>
                    </div>
                  </div>

                  <div class="row">
                    <!-- update icon -->
                    <div class="update ml-auto edit mr-3">
                      <img src="/images/edit.svg" alt="edit" class="text-secondary">
                    </div>
                    <!-- delete icon -->
                    <div class="delete mr-3">
                      <img src="/images/rubbish-bin.svg" alt="delete" class="text-secondary">
                    </div>
                  </div>

                </div>
              <% } %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<script src="javascripts/lib/jquery-3.3.1.min.js"></script>
<script src="javascripts/lib/bootstrap.bundle.min.js"></script>
<script src="javascripts/message.js"></script>
</body>
</html>
